body{
  font-family: 'Lexend Deca', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #E5E5E5;
}

.root{
  position: absolute;
  width: 100%;
  
}

main{
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

main img{
  width: 150px;
  margin: 50px 0px 30px 0px;
}